



<div class="container-fluid">

  <!-- Coding for pagintion -->

    <div class="container">
      <div class="row mt-5">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item "><a class="page-link" style="cursor: pointer;" (click)="pagination(-1)">Previous</a></li>
             <li class="page-item"><a class="page-link" style="cursor: pointer;" (click)="pagination(+1)">Next</a> </li>

             <!-- <li class="page-item "><a class="page-link" style="cursor: pointer;" >Previous</a></li>
             <li class="page-item"><a class="page-link" style="cursor: pointer;" >Next</a> </li> -->
          </ul>
        </nav>
      </div>
    
    </div>
  <!-- pagination coding ends -->
    <div class="row">
  
      <!-- For filterbox component -->
      <div class="col-lg-2 mt-5">
          <app-filterbox (broadcastvalue)="getBroadCasted_filterValue($event)" (broadcast_range_value)="filter_by_rangeValue($event)">

          </app-filterbox>
        
      </div>
  
      <!-- For product component -->
      <div class="col-lg-10">
        <div class="container-fluid mt-5">
          <div class="row">
              <div class="col-lg-3 mb-5" *ngFor="let product of filtered_products|slice:start_index:end_index" >
                <!-- <div class="col-lg-3 mb-5" *ngFor="let product of filtered_products" > -->
                  <div class="card" id="cards123" style="width: 14rem;" style="cursor: pointer;" >
                      <img [src]="product.images" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-title">{{product.title}}</h6>
                        <p class="card-title">{{product.price}}$</p>
                        <!-- <p class="card-text">{{product.description}}.</p> -->
                      <div><a  class="btn btn-primary mt-2" (click)="add_item_to_Cart(product)">Add to Cart</a></div>  
                       <div> <a class="btn btn-primary mt-2" [routerLink]="['/products', product.id]">Product Details</a></div> 
                      </div>
                    </div>
      
              </div>
          </div>
      </div>
      </div>
    </div>
    
  </div>